@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Libre+Baskerville:wght@700&display=swap');

body{
    background-color: white;
    font-family: "Chivo", Helvetica, sans-serif;;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#content{
    max-width: 100%;
    margin: 0 auto;
}

main{
    margin-bottom: 100px;
}

header{
    background-color: #37393A;
    font-family: "Libre Baskerville", "Chivo", Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 150px auto;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo{
    width: 80px;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav{
    background-color: #37393A;
    display: flex;
    justify-content: space-around;
}

nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color: #367F9D;
    color: white;
}

#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 50px;
}

.hero-box{
    grid-column: 1/4;
    grid-row: 1/4;
    z-index: -1;
}

.hero-image{
    width: 100%;
    height: 700px;
}

.hero-title{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    margin: 0 auto;
    color: white;
    background-color: #367F9D;
    padding: 10px;
    font-family: "Libre Baskerville", "Chivo", Helvetica, sans-serif;
    box-shadow: 5px 5px 10px #020E1F;
    border: solid black;
}

.home-grid{
    display: grid;
    padding: 75px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 75px;
    row-gap: 75px;
}

.subpage-grid{
    display: grid;
    padding: 75px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 75px;
    row-gap: 75px;
}

#headshot-image{
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: center;
    box-shadow: 5px 5px 10px #020E1F;
    border: solid black;
}

#about-me-header{
    grid-column: 2/4;
    grid-row: 1;
    text-align: center;
    justify-self: center;
    margin: auto;
    margin-bottom: 0;
    background-color: #367F9D;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Libre Baskerville", "Chivo", Helvetica, sans-serif;
    box-shadow: 5px 5px 10px #020E1F;
    border: solid black;
}

#about-me-paragraph{
    grid-column: 2/4;
    grid-row: 2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #367F9D;
    color: white;
    width: 100%;
    height: 80%;
    padding: 10px;
    line-height: 2;
    font-family: "Chivo", Helvetica, sans-serif;
    box-shadow: 5px 5px 10px #020E1F;
    border: solid black;
}

#goal-header{
    grid-column: 1/3;
    grid-row: 3;
    text-align: center;
    justify-self: center;
    margin: auto;
    background-color: #367F9D;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Libre Baskerville", "Chivo", Helvetica, sans-serif;
    box-shadow: 5px 5px 10px #020E1F;
    border: solid black;
}

#goal-paragraph{
    grid-column: 1/3;
    grid-row: 4;
    text-align: center;
    justify-content: center;
    justify-self: center;
    background-color: #367F9D;
    color: white;
    width: 100%;
    padding: 10px;
    line-height: 2;
    font-family: "Chivo", Helvetica, sans-serif;
    box-shadow: 5px 5px 10px #020E1F;
    border: solid black;
}

#goal-image{
    grid-column: 3/4;
    grid-row: 3/5;
    margin-top: 75px;
    box-shadow: 5px 5px 10px #020E1F;
    border: solid black;
}

#cse110-header{
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
    justify-self: center;
    margin: auto;
    margin-bottom: 0;
    background-color: #367F9D;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Libre Baskerville", "Chivo", Helvetica, sans-serif;
    box-shadow: 5px 5px 10px #020E1F;
    border: solid black;
}

#cse110-paragraph{
    grid-column: 1/3;
    grid-row: 2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #367F9D;
    color: white;
    min-width: 750px;
    padding: 10px;
    line-height: 2;
    font-family: "Chivo", Helvetica, sans-serif;
    box-shadow: 5px 5px 10px #020E1F;
    border: solid black;
}

#python-image{
    grid-column: 3/4;
    grid-row: 1/3;
    margin-top: 130px;
    justify-self: center;
    box-shadow: 5px 5px 10px #020E1F;
    border: solid black;
}

#wdd130-header{
    grid-column: 3/4;
    grid-row: 3;
    text-align: center;
    justify-self: center;
    margin: auto;
    background-color: #367F9D;
    color: white;
    margin-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Libre Baskerville", "Chivo", Helvetica, sans-serif;
    box-shadow: 5px 5px 10px #020E1F;
    border: solid black;
}

#wdd130-paragraph{
    grid-column: 3/4;
    grid-row: 4;
    text-align: center;
    justify-content: center;
    justify-self: center;
    background-color: #367F9D;
    color: white;
    min-width: 100%;
    padding: 10px;
    line-height: 2;
    font-family: "Chivo", Helvetica, sans-serif;
    box-shadow: 5px 5px 10px #020E1F;
    border: solid black;
}

#wdd130-image{
    grid-column: 1/3;
    grid-row: 3/6;
    height: 100%;
    min-width: 100%;
    box-shadow: 5px 5px 10px #020E1F;
    border: solid black;
}

#education-image{
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: center;
    box-shadow: 5px 5px 10px #020E1F;
    border: solid black;
}

#education-header{
    grid-column: 2/4;
    grid-row: 1;
    text-align: center;
    justify-self: center;
    margin: auto;
    margin-bottom: 0;
    background-color: #367F9D;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Libre Baskerville", "Chivo", Helvetica, sans-serif;
    box-shadow: 5px 5px 10px #020E1F;
    border: solid black;
}

#education-paragraph{
    grid-column: 2/4;
    grid-row: 2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #367F9D;
    color: white;
    width: 100%;
    min-width: 750px;
    height: 90%;
    padding: 10px;
    line-height: 2;
    font-family: "Chivo", Helvetica, sans-serif;
    box-shadow: 5px 5px 10px #020E1F;
    border: solid black;
}

#accomplishments-header{
    grid-column: 1/3;
    grid-row: 3;
    text-align: center;
    justify-self: center;
    margin: auto;
    background-color: #367F9D;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Libre Baskerville", "Chivo", Helvetica, sans-serif;
    box-shadow: 5px 5px 10px #020E1F;
    border: solid black;
}

#accomplishments-paragraph{
    grid-column: 1/3;
    grid-row: 4;
    text-align: center;
    justify-content: center;
    justify-self: center;
    background-color: #367F9D;
    color: white;
    width: 100%;
    min-width: 750px;
    padding: 10px;
    line-height: 2;
    font-family: "Chivo", Helvetica, sans-serif;
    box-shadow: 5px 5px 10px #020E1F;
    border: solid black;
}

#achivements-image{
    grid-column: 3/4;
    grid-row: 3/5;
    margin-top: 25px;
    box-shadow: 5px 5px 10px #020E1F;
    border: solid black;
}

footer{
    background-color: #37393A;
    color: white;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a{
    color: white;
    text-decoration: none;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
    background-color: #367F9D;
    color: white;
}

.social{
    padding-top: 15px;
}