body{
    background-color: pink;
}
.box{
    width: 800px;
    margin: 0 auto;
}
h1{
    text-align: center;
    color: white;
    width: 35%;
    margin: 0 auto;
}
h2{
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: medium;
    width: 55%;
}
h3{
    text-align: center;
    color:white;
}
h4{
    text-align: center;
    color: white;
    width: 35%;
    margin: 0 auto;
    font-size: xx-large;
}
.list{
    text-align: left;
    font-weight: bolder;
    margin: 0 auto;
    width: 25%;
}
img{
    display: block;
    margin: 0 auto;
    width: 20%; 
}

h1:hover{
    color: black
}