.gridcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.heading{
    grid-column: 1/3;
    grid-row: 1;
    z-index: 1;
}
#grid-item-1{
    background-color: white;
    grid-column: 1/2;
    grid-row: 1;
    width: 100%;
}
h1{
    text-align: center;
}
h2{
    color: maroon;
}
body{
    background-color: grey;
}